// CSS Variables
:root {
  --green: #36b24c;
  --blue: #0d7494;
  --dark-blue: #323e47;
  --light-blue: #18b9ce;
  --orange: #f58f30;
  --red: #c40000;
  --yellow: #fcd33a;
  --light-grey: #f1f5f3;
}

// Sass Variables
